<header>
      
      <a href="#"><h1 class="site-title"><i class="far fa-hand-lizard"></i>BEAVER CINEMA</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="#">Home</a></li>
          <li class="navitem navlink"><a href="#">Rentals</a></li>
          <li class="navitem navlink"><a href="#">Employees</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
    </header>

    <h1> NEW RELEASES </h1>

    <main class="movie-container">

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE
          </p>

        </div>
      </article>

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE 2
          </p>

        </div>
      </article>

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE 3
          </p>

        </div>
      </article>

    </main>

    <h1> TOP RATED </h1>

    <main class="movie-container">

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE
          </p>

        </div>
      </article>

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE 2
          </p>

        </div>
      </article>

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE 3
          </p>

        </div>
      </article>

    </main>

    <h1> STAFF PICKS </h1>

    <main class="movie-container">

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE
          </p>

        </div>
      </article>

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE 2
          </p>

        </div>
      </article>

      <article class="movie">
        <div class="movie-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="movie-content">
          <p class="movie-text">
            EXAMPLE MOVIE 3
          </p>

        </div>
      </article>

    </main>