<div class=container>
	<div class="row justify-content-center">
		<table class="table">
			<thead>
				<tr>
					<th>Movie Name</th>
					<th>Genre</th>
					<th>Retail Price</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tr>
				{{!-- Will hold database values --}}
			</tr>
		</table>
	</div>

	<div class="row justify-content-center">
	<form action="" method="POST">
		<div class="form-group">
			<label>Title</label>
			<input type="text" name="title" class="form-control" value="Enter movie title">
		</div>
		<div class="form-group">
			<label>Genre</label>
			<input type="text" name="genre" class="form-control" value="Enter movie genre">
		</div>
		<div class="form-group">
			<label>Retail Price</label>
			<input type="text" name="price" class="form-control" value="Enter movie retail price">
		</div>
		<div class="form-group">
			<label>Rating</label>
			<input type="text" name="rating" class="form-control" value="Enter movie rating">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="save">Save</button>
		</div>
	</form>
	</div>
</div>