/*  =============================================
    Global Layout Styles
================================================ */

/* ---- Forces padding/borders into container ---- */
* {
    box-sizing: border-box;
}

/*  =============================================
    Fonts
================================================ */
@font-face {
    font-family: 'Varela Round';
    src: url('fonts/VarelaRound-Regular.ttf') format('truetype');
}

/*  =============================================
    Base Element Styles
================================================ */

body {
    line-height: 1.6;
    color: #3a3a3a;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    background-color: #EAECEE;
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;
}

h2,
h3,
a {
    color: black;
}

h2,
h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

/*  =============================================
    Base Layout Styles
================================================ */

/* ---- Navigation ---- */
.name {
    font-size: 1.25em;   /* remove all extra space above/below name heading */
}

.name,
.main-nav li {
    text-align: center;
    background: #fff;
    margin-top: 6px;
    margin-bottom: 6px;
}

.main-nav {
    font-size: 0;
}

.main-nav li {
    font-size: 1rem;
    margin-right: 5px;
}

.main-nav a {
    font-size: .95em;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #ca3a3a;
}

.name a,
.main-nav a {
    padding: 10px 15px;
    display: block;
}

/* ---- Layout Containers ---- */
.c-header {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
}

.main-header {
    background: 
        red url('images/background.jpg') no-repeat center;
    background-size: cover;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 30px;
}

.main-footer {
    text-align: center;
    padding: 2em 0;
    background: #C65E54;
    color: white;
}

.main-footer ul li {
    display: inline-block;
}

/*  =============================================
    Dropdown Menu
================================================ */
.dropdown {
    position: relative;
}

.drop-nav {
    position: absolute;
    display: none;
}

.drop-nav li {
    font-size: .8rem;
    margin: 0 auto;
    padding: 3px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .8);
}

.dropdown:hover > .drop-nav {
    display: block;
}

/*  =============================================
    Table Styling
================================================ */
td,
th {
    width: 4rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: black;
    color: white;
    border-color: white;
}



/*  =============================================
    Search Bar
================================================ */
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 50%;
    border: 3px solid darkred;
    padding: 5px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: black;
}

.searchButton {
    width: 5%;
    height: 40px;
    border: 3px solid darkred;
    background: darkred;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton i:hover {
    color: white;
}

.searchTitle {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
}

/*  =============================================
    Footer Layout Styles
================================================ */

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .6;
    transition: all .25s;
}

a.social:hover {
    opacity: 1;
}


a.twitter {
    background-image: url('../images/twitter.svg');
}

a.facebook {
    background-image: url(public/images/facebook.svg);
}

a.instagram {
    background-image: url(public/images/instagram.svg);
}

/*  =============================================
    Clearfix "hack"
================================================ */
.group:after {
    content: "";
    display: table;
    clear:both;
}

/*  =============================================
    Media Queries
================================================ */

/* ---- Only devices that are 769 pixels or wider ----  */
@media (min-width: 769px) {

    /* ---- Viewport Height for Sticky Footer ---- */
    .wrap {
        /* 100% of the viewport height minus fixed footer height */
        min-height: calc(100vh -  129px);
    }
    
    .container {
        width: 80%;
        max-width: 1150px;
        margin: 0 auto;
    }

    .name,
    .main-nav,
    .main-nav li {
        display: inline-block;
    }

    .name {
        width: 240px;
        margin-right: 50px;
    }
}

/*  =============================================
    CSS Grid
================================================ */
.grid{
    display:grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows:minmax(100px, auto); */
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
    margin-bottom: 50px;
}

.title {
    max-height: 30px;
    margin-bottom: 1rem;
}

.movies{
    display:grid;
    grid-template-columns: repeat(3, .5fr);
    grid-auto-columns:minmax(100px, auto);
    /* grid-gap:1em; */
    justify-items:stretch;
    align-items:stretch;
}

/* .movie-card {
    border: 2px solid black;
    border-radius: 10px;
} */

.movie-card h3 {
    text-align: center;
}

.movie-card img {
    width: 180px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.movie-card img:hover {
    box-shadow: 3px 3px 10px 1px rgba(100, 100, 100, .9);
}